:root {
  --main-yellow: #e49a3a;
  --main-orange: #ffa34d;
  --main-magenta:#f16938;
  --main-darkblue: #114553;
  --main-lightblue: #175769;

}

html {
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to bottom right, var(--main-darkblue), var(--main-lightblue));
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: var(--main-darkblue);
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: var(--main-orange);
  text-decoration: none;
}

.current {
  border-bottom: 2px solid var(--main-orange);
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}
